Repository BinaryStudioAcademy/bsa-2025-smartscapes, pull requests merged in 2025-08, with the labels that each got.

#121 feat(backend/shared): add postgis ss-112
  apps/backend/src/db/migrations/20250729155425_add_postgis_extension.ts
  apps/backend/src/db/migrations/20250729155447_add_location_column_to_poi.ts
  apps/backend/src/db/migrations/20250801152138_add_test_poi_data.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.entity.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.entity.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.model.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/location-type.enum.ts
  packages/shared/src/libs/types/location-geometry.type.ts
  packages/shared/src/libs/types/types.ts
  packages/shared/src/modules/points-of-interest/libs/enums/points-of-interest-validation-message.enum.ts
  packages/shared/src/modules/points-of-interest/libs/enums/points-of-interest-validation-rule.ts
  packages/shared/src/modules/points-of-interest/libs/types/points-of-interest-request-dto.type.ts
  packages/shared/src/modules/points-of-interest/libs/types/points-of-interest-response-dto.type.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/location.validation-schema.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/point-of-interest-create.validation-schema.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/point-of-interest-update.validation-schema.ts
  readme.md
Labels: root, shared, backend

#190 feat(frontend): add custom scrollbar styling ss-180
  apps/frontend/src/assets/css/scaffolding.css
Labels: frontend

#222 fix(backend): update swagger sign-in response example ss-221
  apps/backend/src/modules/auth/auth.controller.ts
Labels: backend

#227 fix(backend): correct missing type in migrations for notifications ss-226
  apps/backend/src/db/migrations/20250728080941_add_notifications_table.ts
Labels: backend

#191 feat(frontend): toast notification smoother show ss-181
  apps/frontend/src/libs/components/toast-container/toast-container.tsx
Labels: frontend

#230 fix(backend): introduce swagger doc for dto in notifications ss-229
  apps/backend/src/modules/notifications/notification.controller.ts
Labels: backend

#212 feat(backend): add super admin seed ss-187
  apps/backend/src/db/migrations/20250805171700_super_admin_seed.ts
Labels: root, backend

#234 feat(backend): add security to swagger documentation of notifications ss-233
  apps/backend/src/modules/notifications/notification.controller.ts
Labels: backend

#199 feat(frontend): frontend protected routes ss-24
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/app/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/components/protected-route/styles.module.css
  apps/frontend/src/pages/dashboard/dashboard.tsx
  apps/frontend/src/pages/dashboard/styles.module.css
Labels: shared, frontend

#217 feat(frontend): add custom select component ss-192
  apps/frontend/package.json
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/select/libs/constants/constants.ts
  apps/frontend/src/libs/components/select/libs/constants/select-styles-config.constant.ts
  apps/frontend/src/libs/components/select/libs/helpers/get-select-new-value/get-select-new-value.helper.ts
  apps/frontend/src/libs/components/select/libs/helpers/helpers.ts
  apps/frontend/src/libs/components/select/libs/helpers/map-select-value/map-select-value.helper.ts
  apps/frontend/src/libs/components/select/libs/types/select-option.type.ts
  apps/frontend/src/libs/components/select/libs/types/types.ts
  apps/frontend/src/libs/components/select/select.tsx
  apps/frontend/src/libs/components/select/styles.module.css
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/pages/dashboard/dashboard.tsx
  apps/frontend/src/pages/dashboard/styles.module.css
  package-lock.json
Labels: root, frontend

#104 feat(backend/shared): add routes module ss-69
  apps/backend/src/db/migrations/20250724144338_add_route_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/types/repository.type.ts
  apps/backend/src/modules/points-of-interest/libs/types/points-of-interest-get-options.type.ts
  apps/backend/src/modules/points-of-interest/libs/types/type.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.ts
  apps/backend/src/modules/routes/libs/enums/enums.ts
  apps/backend/src/modules/routes/libs/enums/routes-exception-message.enum.ts
  apps/backend/src/modules/routes/libs/exceptions/exceptions.ts
  apps/backend/src/modules/routes/libs/exceptions/routes-error.exception.ts
  apps/backend/src/modules/routes/libs/types/type.ts
  apps/backend/src/modules/routes/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/routes/routes.controller.test.ts
  apps/backend/src/modules/routes/routes.controller.ts
  apps/backend/src/modules/routes/routes.entity.test.ts
  apps/backend/src/modules/routes/routes.entity.ts
  apps/backend/src/modules/routes/routes.model.ts
  apps/backend/src/modules/routes/routes.repository.test.ts
  apps/backend/src/modules/routes/routes.repository.ts
  apps/backend/src/modules/routes/routes.service.test.ts
  apps/backend/src/modules/routes/routes.service.ts
  apps/backend/src/modules/routes/routes.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/points-of-interest/libs/types/points-of-interest-search-query.type.ts
  packages/shared/src/modules/routes/libs/enums/enums.ts
  packages/shared/src/modules/routes/libs/enums/routes-validation-message.enum.ts
  packages/shared/src/modules/routes/libs/enums/routes-validation-rule.enum.ts
  packages/shared/src/modules/routes/libs/types/routes-request-dto.type.ts
  packages/shared/src/modules/routes/libs/types/routes-request-update.dto.ts
  packages/shared/src/modules/routes/libs/types/routes-response-dto.type.ts
  packages/shared/src/modules/routes/libs/types/types.ts
  packages/shared/src/modules/routes/libs/validation-schemas/routes-create.validation-schema.ts
  packages/shared/src/modules/routes/libs/validation-schemas/routes-update.validation-schema.ts
  packages/shared/src/modules/routes/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/routes/routes.ts
  readme.md
Labels: root, shared, backend

#147 feat(backend/shared): add reviews module ss-75
  apps/backend/src/db/migrations/20250727173639_add_reviews_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/reviews/libs/types/types.ts
  apps/backend/src/modules/reviews/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/reviews/review.controller.test.ts
  apps/backend/src/modules/reviews/review.controller.ts
  apps/backend/src/modules/reviews/review.entity.test.ts
  apps/backend/src/modules/reviews/review.entity.ts
  apps/backend/src/modules/reviews/review.model.ts
  apps/backend/src/modules/reviews/review.repository.test.ts
  apps/backend/src/modules/reviews/review.repository.ts
  apps/backend/src/modules/reviews/review.service.test.ts
  apps/backend/src/modules/reviews/review.service.ts
  apps/backend/src/modules/reviews/reviews.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/reviews/libs/enums/enums.ts
  packages/shared/src/modules/reviews/libs/enums/review-validation-message.enum.ts
  packages/shared/src/modules/reviews/libs/enums/review-validation-rule.enum.ts
  packages/shared/src/modules/reviews/libs/types/review-create-payload.type.ts
  packages/shared/src/modules/reviews/libs/types/review-get-by-id-response-dto.type.ts
  packages/shared/src/modules/reviews/libs/types/review-request-dto.type.ts
  packages/shared/src/modules/reviews/libs/types/types.ts
  packages/shared/src/modules/reviews/libs/validation-schemas/review-create.validation.schema.ts
  packages/shared/src/modules/reviews/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/reviews/reviews.ts
  readme.md
Labels: root, shared, backend

#253 fix(backend): update reviews module swagger docs ss-251
  apps/backend/src/modules/reviews/review.controller.ts
Labels: backend

#259 fix(backend): update poi location schema in swagger documentation ss-258
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.ts
Labels: backend

#273 fix(root): fix database erDiagram ss-272
  readme.md
Labels: root

#136 feat(backend/shared): add followers module ss-72
  apps/backend/src/db/migrations/20250730123508_add_user_follows_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/user-follows/libs/enums/enums.ts
  apps/backend/src/modules/user-follows/libs/exceptions/exceptions.ts
  apps/backend/src/modules/user-follows/libs/exceptions/user-follows.exception.ts
  apps/backend/src/modules/user-follows/libs/types/types.ts
  apps/backend/src/modules/user-follows/user-follows.controller.test.ts
  apps/backend/src/modules/user-follows/user-follows.controller.ts
  apps/backend/src/modules/user-follows/user-follows.entity.test.ts
  apps/backend/src/modules/user-follows/user-follows.entity.ts
  apps/backend/src/modules/user-follows/user-follows.model.ts
  apps/backend/src/modules/user-follows/user-follows.repository.test.ts
  apps/backend/src/modules/user-follows/user-follows.repository.ts
  apps/backend/src/modules/user-follows/user-follows.service.test.ts
  apps/backend/src/modules/user-follows/user-follows.service.ts
  apps/backend/src/modules/user-follows/user-follows.ts
  apps/backend/src/modules/users/user.model.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/user-follows/libs/enums/enums.ts
  packages/shared/src/modules/user-follows/libs/enums/user-follows-api-path.enum.ts
  packages/shared/src/modules/user-follows/libs/enums/user-follows-exception-message.enum.ts
  packages/shared/src/modules/user-follows/libs/types/types.ts
  packages/shared/src/modules/user-follows/libs/types/user-follows-parameters-dto.type.ts
  packages/shared/src/modules/user-follows/libs/types/user-follows-request-dto.type.ts
  packages/shared/src/modules/user-follows/libs/types/user-unfollows-parameters-dto.type.ts
  packages/shared/src/modules/user-follows/user-follows.ts
  readme.md
Labels: root, shared, backend

#249 feat(backend/frontend): add logout functionality ss-182
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/libs/enums/authorization-exception-message.enum.ts
  apps/backend/src/modules/auth/libs/enums/enums.ts
  apps/backend/src/modules/auth/libs/exceptions/auth.exception.ts
  apps/backend/src/modules/auth/libs/exceptions/exceptions.ts
  apps/backend/src/modules/auth/libs/exceptions/unauthorized.exception.ts
  apps/frontend/src/assets/images/icons/arrow-down.svg
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/authenticated-header.tsx
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/styles.module.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/user-dropdown/styles.module.css
  apps/frontend/src/libs/components/user-dropdown/user-dropdown.tsx
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  package-lock.json
  packages/shared/src/modules/auth/libs/enums/auth-exception-message.enum.ts
Labels: root, shared, backend, frontend

#286 fix(backend): format swagger docs ss-285
  apps/backend/src/modules/user-follows/user-follows.controller.ts
Labels: backend

#289 fix(backend): update notification swagger response dto ss-279
  apps/backend/src/modules/notifications/notification.controller.ts
Labels: backend

#215 feat(frontend): implement basic maps integration ss-116
  apps/frontend/.env.example
  apps/frontend/package.json
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/map-provider/map-provider.tsx
  apps/frontend/src/libs/components/map-provider/styles.module.css
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-map-client/use-map-client.hook.ts
  apps/frontend/src/libs/modules/config/base-config.module.ts
  apps/frontend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/constants.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/default-coords.constant.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/geolocate-auto-trigger-delay.constant.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/geolocate-control-options.constant.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/map-controls-position.constant.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/map-options.constant.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/marker-options.constant.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/navigation-control-options.constant.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/scale-control-options.constant.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/zoom-level.constant.ts
  apps/frontend/src/libs/modules/map-client/libs/enums/enums.ts
  apps/frontend/src/libs/modules/map-client/libs/enums/map-control-ids.enum.ts
  apps/frontend/src/libs/modules/map-client/libs/types/types.ts
  apps/frontend/src/libs/modules/map-client/map-client.module.ts
  apps/frontend/src/libs/modules/map-client/map-client.ts
  apps/frontend/src/pages/explore/explore.tsx
  apps/frontend/src/pages/explore/mock-pois.ts
  apps/frontend/src/pages/explore/styles.module.css
  apps/frontend/vite.config.ts
  package-lock.json
Labels: root, frontend, env

#294 fix(root): use direct environment url instead of secrets in cd workflow ss-291
  .github/workflows/cd.yml
Labels: workflows

#305 fix(frontend): use mapbox csp version ss-295
  apps/frontend/packages.d.ts
  apps/frontend/src/libs/modules/map-client/libs/modules/mapbox/mapbox.module.ts
  apps/frontend/tsconfig.json
  package-lock.json
Labels: root, frontend

#313 fix(frontend): increase cache file size ss-295
  apps/frontend/tsconfig.json
Labels: frontend

#160 feat(backend): added group id for newly created users ss-113
  apps/backend/src/db/migrations/20250730112137_user_group_id_required.ts
  apps/backend/src/modules/auth/auth.controller.test.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.test.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/groups/group.entity.test.ts
  apps/backend/src/modules/groups/group.entity.ts
  apps/backend/src/modules/groups/group.model.ts
  apps/backend/src/modules/groups/group.repository.test.ts
  apps/backend/src/modules/groups/group.repository.ts
  apps/backend/src/modules/groups/group.service.ts
  apps/backend/src/modules/groups/group.ts
  apps/backend/src/modules/groups/libs/enums/enums.ts
  apps/backend/src/modules/groups/libs/exceptions/group-not-found.exception.ts
  apps/backend/src/modules/groups/libs/types/types.ts
  apps/backend/src/modules/notifications/notification.controller.test.ts
  apps/backend/src/modules/permission/permission.entity.ts
  apps/backend/src/modules/permission/permission.model.ts
  apps/backend/src/modules/reviews/review.controller.test.ts
  apps/backend/src/modules/routes/routes.controller.test.ts
  apps/backend/src/modules/user-follows/user-follows.controller.test.ts
  apps/backend/src/modules/users/libs/exceptions/user.exceptions.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/types/user-password-details.type.ts
  apps/backend/src/modules/users/user.controller.test.ts
  apps/backend/src/modules/users/user.entity.test.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.test.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.test.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/users/slices/actions.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/groups/enums/enums.ts
  packages/shared/src/modules/groups/enums/group-exception-message.enum.ts
  packages/shared/src/modules/groups/enums/group-key.enum.ts
  packages/shared/src/modules/groups/groups.ts
  packages/shared/src/modules/groups/types/group-item-dto.type.ts
  packages/shared/src/modules/groups/types/group-response-dto.type.ts
  packages/shared/src/modules/groups/types/types.ts
  packages/shared/src/modules/permission/types/permission-item-response-dto.type.ts
  packages/shared/src/modules/permission/types/types.ts
  packages/shared/src/modules/users/libs/types/authenticated-user-patch-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
Labels: root, shared, backend, frontend

#317 fix(backend): update route validation schema handling ss-280
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: backend

#332 fix(backend/frontend): pass csp headers to helmet config ss-295
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/constants/constants.ts
  apps/backend/src/libs/modules/server-application/libs/constants/helmet-config.constant.ts
  apps/frontend/vite.config.ts
Labels: backend, frontend

#282 refactor(backend/shared): update validation for review module ss-278
  apps/backend/src/modules/reviews/review.controller.ts
  apps/backend/src/modules/reviews/review.service.test.ts
  apps/backend/src/modules/reviews/review.service.ts
  apps/backend/src/modules/reviews/reviews.ts
  apps/backend/src/modules/routes/routes.ts
  packages/shared/src/modules/reviews/libs/enums/review-validation-message.enum.ts
  packages/shared/src/modules/reviews/libs/enums/review-validation-rule.enum.ts
  packages/shared/src/modules/reviews/libs/validation-schemas/review-create.validation.schema.ts
Labels: shared, backend

#239 test(backend): add auth api tests ss-236
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .gitignore
  .release-please-manifest.json
  eslint.config.ts
  knip.config.ts
  package-lock.json
  package.json
  readme.md
  release-please-config.json
  tests/.env.example
  tests/api/controllers/api-controller.ts
  tests/api/controllers/auth-controller.ts
  tests/api/schemas/auth-user-schema.ts
  tests/api/schemas/login-schema.ts
  tests/api/schemas/signup-schema.ts
  tests/api/test-data/auth/login-test-data.ts
  tests/api/test-data/auth/register-test-data.ts
  tests/consts/api-path.ts
  tests/consts/validation-consts.ts
  tests/eslint.config.ts
  tests/helpers/generate-data.ts
  tests/helpers/schema-validator.ts
  tests/lint-staged.config.js
  tests/package.json
  tests/playwright.config.ts
  tests/tests/auth-flow.spec.ts
  tests/tests/auth-login.spec.ts
  tests/tests/auth-register.spec.ts
  tests/tsconfig.json
Labels: root, workflows, env, QA, tests

#351 fix(root): fix integration tests workflow ss-291
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
Labels: workflows

#353 291 fix integration tests workflow
  .github/workflows/cd.yml
  .github/workflows/integration-tests.yml
Labels: workflows

#284 feat(backend): search routes by name ss-267
  apps/backend/src/modules/routes/libs/types/types.ts
  apps/backend/src/modules/routes/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/routes/routes.controller.test.ts
  apps/backend/src/modules/routes/routes.controller.ts
  apps/backend/src/modules/routes/routes.repository.test.ts
  apps/backend/src/modules/routes/routes.repository.ts
  apps/backend/src/modules/routes/routes.service.test.ts
  apps/backend/src/modules/routes/routes.service.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/routes/libs/types/routes-find-all-options.type.ts
  packages/shared/src/modules/routes/libs/types/types.ts
  packages/shared/src/modules/routes/libs/validation-schemas/routes-search-query.validation-schema.ts
  packages/shared/src/modules/routes/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/routes/routes.ts
Labels: shared, backend

#307 fix(frontend): add styles for username in header ss-304
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/styles.module.css
Labels: frontend

#343 fix(frontend): add slide transition animation ss-281
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#358 feat(backend): cover routes managment operations with permission ss-237
  apps/backend/src/db/migrations/20250812134731_rename_create_route_to_manage_routes.ts
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/hooks/check-permission/check-permission.hook.ts
  apps/backend/src/libs/hooks/check-permission/check-permission.ts
  apps/backend/src/libs/hooks/check-permission/libs/enums/enums.ts
  apps/backend/src/libs/hooks/check-permission/libs/enums/permission-exception-message.enum.ts
  apps/backend/src/libs/hooks/check-permission/libs/exceptions/exceptions.ts
  apps/backend/src/libs/hooks/check-permission/libs/exceptions/permission.exception.ts
  apps/backend/src/libs/hooks/hooks.ts
  apps/backend/src/modules/routes/routes.controller.test.ts
  apps/backend/src/modules/routes/routes.controller.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/permission/enums/enums.ts
  packages/shared/src/modules/permission/enums/permission-key.enum.ts
  packages/shared/src/modules/permission/permission.ts
Labels: shared, backend

#363 feat(frontend): toast notification on updating pofile ss-339
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: frontend

#381 fix(backend): ignore query in check-is-white-route ss-337
  apps/backend/src/libs/modules/plugins/auth/libs/helpers/check-is-white-route.helper.ts
Labels: backend

#382 refactor(frontend): remove placeholder property from password input ss-379
  apps/frontend/src/libs/components/password-input/password-input.tsx
Labels: frontend

#404 feat(frontend/backend/shared): implement profile visibility feature ss-342
  apps/backend/src/db/migrations/20250813134000_add_users_profile_visibility.ts
  apps/backend/src/modules/auth/auth.controller.test.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.test.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/notifications/notification.controller.test.ts
  apps/backend/src/modules/reviews/review.controller.test.ts
  apps/backend/src/modules/routes/route.controller.test.ts
  apps/backend/src/modules/user-follows/user-follows.controller.test.ts
  apps/backend/src/modules/users/libs/types/user-password-details.type.ts
  apps/backend/src/modules/users/user.controller.test.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.entity.test.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.test.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.test.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/libs/components/checkbox/checkbox.tsx
  apps/frontend/src/libs/components/checkbox/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/field-error/field-error.tsx
  apps/frontend/src/libs/components/field-error/styles.module.css
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/pages/profile/libs/components/user-details/libs/components/profile-form/profile-form.tsx
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/types/authenticated-user-patch-request-dto.type.ts
  packages/shared/src/modules/users/libs/types/authenticated-user-patch-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/authenticated-user-patch.validation-schema.ts
  readme.md
Labels: root, shared, backend, frontend

#383 feat(frontend): cover dashboard items with permissions ss-336
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/constants/navigation-items-groups.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/helpers/check-has-permission.helper.ts
  apps/frontend/src/libs/helpers/get-permitted-navigation-items.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/types/navigation-item.type.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/dashboard/dashboard.tsx
  apps/frontend/src/pages/routes/routes.tsx
  apps/frontend/src/pages/routes/styles.module.css
Labels: frontend

#433 fix(backend): fix routes repository queries ss-432
  apps/backend/src/modules/routes/route.repository.ts
  readme.md
Labels: root, backend

#426 test(backend): added api auto tests(chain) for poi module ss-206
  apps/backend/.env.example
  tests/api/controllers/api-controller.ts
  tests/api/controllers/poi-controler.ts
  tests/api/schemas/poi-schema.ts
  tests/consts/api-path.ts
  tests/helpers/generate-data.ts
  tests/tests/poi.spec.ts
Labels: env, tests

#444 fix(frontend): profile page back navigation ss-361
  apps/frontend/src/libs/hooks/use-tab-navigation/use-tab-navigation.hook.ts
Labels: frontend

#380 feat(frontend): add location to create poi modal ss-359
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/create-poi-modal/create-poi-modal.tsx
  apps/frontend/src/libs/components/create-poi-modal/libs/constants/constants.ts
  apps/frontend/src/libs/components/create-poi-modal/libs/constants/default-create-poi-payload.constant.ts
  apps/frontend/src/libs/components/map-location-field/map-location-field.tsx
  apps/frontend/src/libs/components/map-location-field/map-location-logic/map-location-logic.tsx
  apps/frontend/src/libs/components/map-location-field/styles.module.css
  apps/frontend/src/libs/components/map-provider/map-provider.tsx
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/constants.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/map-marker-z-index-value.ts
  apps/frontend/src/libs/modules/map-client/libs/enums/enums.ts
  apps/frontend/src/libs/modules/map-client/libs/enums/map-event-type.enum.ts
  apps/frontend/src/libs/modules/map-client/libs/types/map-marker-options.type.ts
  apps/frontend/src/libs/modules/map-client/libs/types/map-marker.type.ts
  apps/frontend/src/libs/modules/map-client/libs/types/types.ts
  apps/frontend/src/libs/modules/map-client/map-client.module.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/dashboard/dashboard.tsx
  apps/frontend/src/pages/manage-routes/libs/components/points-of-interest-table/points-of-interest-table.tsx
  apps/frontend/src/pages/manage-routes/libs/components/points-of-interest-table/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/points-of-interest/libs/enums/points-of-interest-validation-message.enum.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/location.validation-schema.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/points-of-interest-create.validation-schema.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/points-of-interest-update.validation-schema.ts
Labels: shared, frontend

#459 fix(frontend): long description owerflowing container on POI detail page ss-437
  apps/frontend/src/pages/points-of-interest-details/styles.module.css
Labels: frontend

#458 fix(root): update database schema ss-446
  readme.md
Labels: root

#462 refactor(backend): rename route categories to categories ss-345
  apps/backend/src/modules/categories/category.controller.test.ts
  apps/backend/src/modules/categories/category.controller.ts
  apps/backend/src/modules/categories/category.entity.test.ts
  apps/backend/src/modules/categories/category.repository.test.ts
  apps/backend/src/modules/categories/category.repository.ts
  apps/backend/src/modules/categories/category.service.test.ts
  apps/backend/src/modules/categories/category.service.ts
  apps/backend/src/modules/categories/libs/exceptions/category-error.exception.ts
  apps/backend/src/modules/categories/libs/exceptions/exceptions.ts
  apps/backend/src/modules/categories/libs/exceptions/route-category.exception.ts
  packages/shared/src/libs/enums/api-path.enum.ts
Labels: shared, backend

#464 chore(root): add lines-between-class-members eslint rule ss-463
  apps/backend/src/libs/modules/aws/base-aws-file.module.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/categories/category.entity.ts
  apps/backend/src/modules/categories/category.model.ts
  apps/backend/src/modules/files/files.entity.ts
  apps/backend/src/modules/files/files.model.ts
  apps/backend/src/modules/files/files.service.ts
  apps/backend/src/modules/groups/group.entity.ts
  apps/backend/src/modules/notifications/notification.model.ts
  apps/backend/src/modules/permission/permission.entity.ts
  apps/backend/src/modules/planned-paths/planned-path.entity.ts
  apps/backend/src/modules/planned-paths/planned-path.model.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.entity.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.model.ts
  apps/backend/src/modules/reviews/review.entity.ts
  apps/backend/src/modules/reviews/review.model.ts
  apps/backend/src/modules/reviews/review.service.ts
  apps/backend/src/modules/routes/route.entity.ts
  apps/backend/src/modules/routes/route.model.ts
  apps/backend/src/modules/routes/route.repository.ts
  apps/backend/src/modules/routes/route.service.ts
  apps/backend/src/modules/user-follows/user-follows.entity.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/libs/modules/map-client/map-client.module.ts
  apps/frontend/src/modules/auth/auth-api.ts
  eslint.config.ts
  tests/api/controllers/api-controller.ts
Labels: root, backend, frontend, tests

#431 feat(backend/frontend): avatar upload ss-388
  apps/backend/src/db/migrations/20250816130844_alter_files_table.ts
  apps/backend/src/modules/auth/auth.controller.test.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.test.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/files/files.controller.test.ts
  apps/backend/src/modules/files/files.controller.ts
  apps/backend/src/modules/files/files.entity.test.ts
  apps/backend/src/modules/files/files.entity.ts
  apps/backend/src/modules/files/files.model.ts
  apps/backend/src/modules/files/files.repository.test.ts
  apps/backend/src/modules/files/files.repository.ts
  apps/backend/src/modules/files/files.service.test.ts
  apps/backend/src/modules/files/files.service.ts
  apps/backend/src/modules/files/files.ts
  apps/backend/src/modules/notifications/notification.controller.test.ts
  apps/backend/src/modules/reviews/review.controller.test.ts
  apps/backend/src/modules/routes/route.controller.test.ts
  apps/backend/src/modules/user-follows/user-follows.controller.test.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/types/user-details-with-password.type.ts
  apps/backend/src/modules/users/user.entity.test.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.test.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.test.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/libs/components/avatar/avatar.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/files/files-api.ts
  apps/frontend/src/modules/files/files.ts
  apps/frontend/src/modules/files/libs/enums/enums.ts
  apps/frontend/src/modules/files/libs/types/types.ts
  apps/frontend/src/pages/dashboard/dashboard.tsx
  apps/frontend/src/pages/profile/libs/components/user-details/styles.module.css
  apps/frontend/src/pages/profile/libs/components/user-details/user-details.tsx
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
  packages/shared/src/modules/files/libs/enums/file-validation-message.enum.ts
  packages/shared/src/modules/files/libs/enums/files-api-path.enum.ts
  packages/shared/src/modules/files/libs/types/file-upload-request-dto.type.ts
  packages/shared/src/modules/files/libs/validation-schemas/file-upload-folder.validation-schema.ts
  packages/shared/src/modules/users/libs/types/authenticated-user-patch-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  readme.md
Labels: root, shared, backend, frontend

#396 feat(frontend): add list to dropdown menu ss-338
  apps/frontend/src/assets/images/icons/logout.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/dropdown/dropdown.tsx
  apps/frontend/src/libs/components/dropdown/styles.module.css
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/authenticated-header.tsx
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/text-link/styles.module.css
  apps/frontend/src/libs/components/text-link/text-link.tsx
  apps/frontend/src/libs/components/user-dropdown/styles.module.css
  apps/frontend/src/libs/components/user-dropdown/user-dropdown.tsx
  apps/frontend/src/libs/types/dropdown-item.type.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
Labels: frontend

#417 feat(frontend/backend): load and display pois list on route details page ss-390
  apps/backend/src/modules/reviews/review.service.test.ts
  apps/backend/src/modules/routes/route.controller.test.ts
  apps/backend/src/modules/routes/route.entity.test.ts
  apps/backend/src/modules/routes/route.entity.ts
  apps/backend/src/modules/routes/route.model.ts
  apps/backend/src/modules/routes/route.repository.test.ts
  apps/backend/src/modules/routes/route.repository.ts
  apps/backend/src/modules/routes/route.service.test.ts
  apps/frontend/src/assets/images/placeholder-card.jpg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/point-of-interest-card/point-of-interest-card.tsx
  apps/frontend/src/libs/components/point-of-interest-card/styles.module.css
  apps/frontend/src/libs/components/text-link/text-link.tsx
  apps/frontend/src/pages/route-description/libs/components/components.ts
  apps/frontend/src/pages/route-description/libs/components/point-of-interest-section/point-of-interest-section.tsx
  apps/frontend/src/pages/route-description/libs/components/point-of-interest-section/styles.module.css
  apps/frontend/src/pages/route-description/route-details.tsx
  packages/shared/src/modules/routes/libs/types/route-get-all-item-response-dto.type.ts
  packages/shared/src/modules/routes/libs/types/route-get-by-id-response-dto.type.ts
Labels: shared, backend, frontend

#488 fix(frontend): apply higher z index value for sidebar then routes panel ss-485
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: frontend

#465 feat(backend/frontend/shared): implement admin dashboard issue ss-189
  apps/backend/src/modules/points-of-interest/libs/types/points-of-interest-paginated-options.type.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/format-data.enum.ts
  apps/frontend/src/libs/helpers/get-formatted-date.helper.ts
  apps/frontend/src/modules/points-of-interest/libs/types/types.ts
  apps/frontend/src/modules/points-of-interest/points-of-interest.ts
  apps/frontend/src/modules/points-of-interest/slices/points-of-interest.slice.ts
  apps/frontend/src/pages/manage-routes/libs/components/points-of-interest-table/libs/helpers/create-column.helper.tsx
  apps/frontend/src/pages/manage-routes/libs/components/points-of-interest-table/libs/hooks/use-table-column.hook.ts
  apps/frontend/src/pages/manage-routes/libs/components/points-of-interest-table/points-of-interest-table.tsx
  apps/frontend/src/pages/manage-routes/libs/components/points-of-interest-table/styles.module.css
  apps/frontend/src/pages/manage-routes/libs/types/row-data.types.ts
  apps/frontend/src/pages/manage-routes/libs/types/types.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/points-of-interest/libs/types/points-of-interest-item-dto.type.ts
  packages/shared/src/modules/points-of-interest/libs/types/points-of-interest-paginated-response-dto.type.ts
  packages/shared/src/modules/points-of-interest/libs/types/types.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/points-of-interest-create.validation-schema.ts
  packages/shared/src/modules/points-of-interest/points-of-interest.ts
Labels: shared, backend, frontend

#456 fix(frontend/backend): fix upload max size message and carousel wheel event ss-434
  apps/backend/src/modules/files/files.service.ts
  apps/backend/src/modules/files/libs/enums/file-exeption-message.enum.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-wheel-event.hook.ts
Labels: backend, frontend

#494 feat(backend/frontend/shared): routes list ss-403
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.entity.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.entity.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.model.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.ts
  apps/backend/src/modules/reviews/review.service.test.ts
  apps/backend/src/modules/routes/route.model.ts
  apps/backend/src/modules/routes/route.service.test.ts
  apps/frontend/src/assets/images/icons/bookmarks.svg
  apps/frontend/src/libs/components/text-link/styles.module.css
  apps/frontend/src/modules/points-of-interest/points-of-interest.ts
  apps/frontend/src/modules/points-of-interest/slices/actions.ts
  packages/shared/src/modules/points-of-interest/libs/types/points-of-interest-get-by-id-response-dto.type.ts
Labels: shared, backend, frontend

#526 feat(frontend): adjust button styles for poi and route details page ss-1
  apps/frontend/src/libs/components/create-poi-modal/styles.module.css
  apps/frontend/src/libs/components/create-route-form/create-route-form.tsx
  apps/frontend/src/libs/components/create-route-form/styles.module.css
  apps/frontend/src/pages/points-of-interest-details/styles.module.css
  apps/frontend/src/pages/route-details/styles.module.css
Labels: frontend

#528 fix(frontend): issues with editing title and description on poi page ss-521
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.ts
  apps/frontend/src/pages/points-of-interest-details/points-of-interest-details.tsx
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/points-of-interest-update.validation-schema.ts
Labels: shared, backend, frontend

#530 refactor(frontend): update route details page with cancel handler, refactor poi details page ss-514
  apps/frontend/src/pages/points-of-interest-details/points-of-interest-details.tsx
  apps/frontend/src/pages/route-details/route-details.tsx
Labels: frontend

#531 feat(frontend): add tabs navigation for mobile ss-1
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/app-layout/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/dropdown/styles.module.css
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/libs/components/components.ts
  apps/frontend/src/libs/components/page-heading/page-heading.tsx
  apps/frontend/src/libs/components/page-heading/styles.module.css
  apps/frontend/src/libs/components/pagination/styles.module.css
  apps/frontend/src/libs/components/route-card/styles.module.css
  apps/frontend/src/libs/components/sidebar/libs/components/sidebar-item/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/components/table/libs/components/table-skeleton/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/libs/components/text-link/styles.module.css
  apps/frontend/src/libs/components/textarea/styles.module.css
  apps/frontend/src/pages/landing/libs/components/hero-section/styles.module.css
  apps/frontend/src/pages/manage-routes/libs/components/components.ts
  apps/frontend/src/pages/manage-routes/libs/components/points-of-interest-table/points-of-interest-table.tsx
  apps/frontend/src/pages/manage-routes/libs/components/points-of-interest-table/styles.module.css
  apps/frontend/src/pages/manage-routes/manage-routes.tsx
  apps/frontend/src/pages/points-of-interest-details/points-of-interest-details.tsx
  apps/frontend/src/pages/points-of-interest-details/styles.module.css
  apps/frontend/src/pages/route-details/route-details.tsx
  apps/frontend/src/pages/route-details/styles.module.css
Labels: frontend

#457 feat(frontend/backend/shared): add user profile page and follow feature ss-402
  apps/backend/src/modules/user-follows/user-follows.controller.test.ts
  apps/backend/src/modules/user-follows/user-follows.controller.ts
  apps/backend/src/modules/user-follows/user-follows.repository.ts
  apps/backend/src/modules/user-follows/user-follows.service.test.ts
  apps/backend/src/modules/user-follows/user-follows.service.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/users/user.controller.test.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.repository.test.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.test.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/avatar/avatar.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/modules/store/libs/types/root-reducer.type.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/public-profile/public-profile.tsx
  apps/frontend/src/pages/public-profile/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/user-exception-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-public-profile-response-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-get-profile.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: shared, backend, frontend

#522 feat(frontend/backend): create and display follow notification ss-438
  apps/backend/src/modules/notifications/notifications.ts
  apps/backend/src/modules/user-follows/libs/enums/enums.ts
  apps/backend/src/modules/user-follows/libs/enums/follow-notification-message.enum.ts.ts
  apps/backend/src/modules/user-follows/user-follows.service.test.ts
  apps/backend/src/modules/user-follows/user-follows.service.ts
  apps/backend/src/modules/user-follows/user-follows.ts
  apps/frontend/package.json
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/images/icons/bell.svg
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/authenticated-header.tsx
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/libs/components/components.ts
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/libs/components/notifications-popover/libs/components/components.ts
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/libs/components/notifications-popover/libs/components/notification-item/notification-item.tsx
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/libs/components/notifications-popover/libs/components/notification-item/styles.module.css
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/libs/components/notifications-popover/notifications-popover.tsx
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/libs/components/notifications-popover/styles.module.css
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/enums/event-listener-type.enum.ts
  apps/frontend/src/libs/helpers/get-relative-time.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/modules/store/libs/types/extra-arguments.type.ts
  apps/frontend/src/libs/modules/store/libs/types/root-reducer.type.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/notification/libs/enums/enums.ts
  apps/frontend/src/modules/notification/libs/types/types.ts
  apps/frontend/src/modules/notification/notification-api.ts
  apps/frontend/src/modules/notification/notification.ts
  apps/frontend/src/modules/notification/slices/actions.ts
  apps/frontend/src/modules/notification/slices/notification.slice.ts
  apps/frontend/src/modules/notification/slices/notification.ts
  package-lock.json
Labels: root, backend, frontend

#548 fix(backend): fix user routes request ss-534
  apps/backend/src/modules/user-routes/libs/types/type.ts
  apps/backend/src/modules/user-routes/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/user-routes/user-route.controller.test.ts
  apps/backend/src/modules/user-routes/user-route.controller.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/user-routes/libs/enums/user-route-api-path.enum.ts
  packages/shared/src/modules/user-routes/libs/types/types.ts
  packages/shared/src/modules/user-routes/libs/types/user-route-create-request-dto.type.ts
  packages/shared/src/modules/user-routes/libs/types/user-route-finish-request-dto.type.ts
  packages/shared/src/modules/user-routes/libs/types/user-route-query-request-dto.type.ts
  packages/shared/src/modules/user-routes/libs/types/user-route-start-request-dto.type.ts
  packages/shared/src/modules/user-routes/user-routes.ts
  packages/shared/src/modules/user-routes/validation-schemas/user-route-create.validation-schema.ts
  packages/shared/src/modules/user-routes/validation-schemas/user-route-finish.validation-schema.ts
  packages/shared/src/modules/user-routes/validation-schemas/user-route-query.validation-schema.ts
  packages/shared/src/modules/user-routes/validation-schemas/validation-schemas.ts
Labels: shared, backend

#543 feat(backend/frontend/shared): implement edit and delete actions to pois ss-495
  apps/backend/src/modules/points-of-interest/libs/enums/point-of-interest-exception-message.enum.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.ts
  apps/frontend/src/modules/points-of-interest/libs/enums/point-of-interest-notification.enum.ts
  apps/frontend/src/modules/points-of-interest/points-of-interest-api.ts
  apps/frontend/src/modules/points-of-interest/slices/actions.ts
  apps/frontend/src/modules/points-of-interest/slices/points-of-interest.slice.ts
  apps/frontend/src/modules/points-of-interest/slices/points-of-interest.ts
  apps/frontend/src/pages/manage-routes/libs/components/points-of-interest-table/libs/hooks/use-table-column.hook.ts
Labels: backend, frontend

#552 feat(backend/frontend/shared): implement user bookmarks feature ss-497
  apps/backend/src/libs/modules/plugins/auth/auth.plugin.ts
  apps/backend/src/modules/reviews/review.service.test.ts
  apps/backend/src/modules/routes/libs/enums/enums.ts
  apps/backend/src/modules/routes/libs/types/types.ts
  apps/backend/src/modules/routes/route.controller.test.ts
  apps/backend/src/modules/routes/route.controller.ts
  apps/backend/src/modules/routes/route.entity.ts
  apps/backend/src/modules/routes/route.model.ts
  apps/backend/src/modules/routes/route.repository.ts
  apps/backend/src/modules/routes/route.service.test.ts
  apps/backend/src/modules/routes/route.service.ts
  apps/backend/src/modules/user-routes/libs/enums/enum.ts
  apps/backend/src/modules/user-routes/libs/enums/user-route-exception-message.enum.ts
  apps/backend/src/modules/user-routes/libs/exceptions/exceptions.ts
  apps/backend/src/modules/user-routes/libs/exceptions/user-route.exception.ts
  apps/backend/src/modules/user-routes/libs/exeptions/exeptions.ts
  apps/backend/src/modules/user-routes/libs/types/type.ts
  apps/backend/src/modules/user-routes/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/user-routes/user-route.controller.test.ts
  apps/backend/src/modules/user-routes/user-route.controller.ts
  apps/backend/src/modules/user-routes/user-route.repository.test.ts
  apps/backend/src/modules/user-routes/user-route.repository.ts
  apps/backend/src/modules/user-routes/user-route.service.test.ts
  apps/backend/src/modules/user-routes/user-route.service.ts
  apps/frontend/src/assets/images/icons/bookmark.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/modules/store/libs/types/extra-arguments.type.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/routes/routes-api.ts
  apps/frontend/src/modules/routes/slices/route-details.slice.ts
  apps/frontend/src/modules/user-routes/libs/enums/enums.ts
  apps/frontend/src/modules/user-routes/libs/types/types.ts
  apps/frontend/src/modules/user-routes/slices/actions.ts
  apps/frontend/src/modules/user-routes/slices/user-routes.slice.ts
  apps/frontend/src/modules/user-routes/slices/user-routes.ts
  apps/frontend/src/modules/user-routes/user-routes-api.ts
  apps/frontend/src/modules/user-routes/user-routes.ts
  apps/frontend/src/pages/route-details/libs/enums/enums.ts
  apps/frontend/src/pages/route-details/route-details.tsx
  apps/frontend/src/pages/route-details/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/routes/libs/types/route-create-request-dto.type.ts
  packages/shared/src/modules/routes/libs/types/route-get-by-id-response-dto.type.ts
  packages/shared/src/modules/routes/libs/types/route-patch-response-dto.type.ts
  packages/shared/src/modules/routes/libs/types/types.ts
  packages/shared/src/modules/routes/routes.ts
  packages/shared/src/modules/user-routes/libs/enums/user-route-api-path.enum.ts
  packages/shared/src/modules/user-routes/libs/types/types.ts
  packages/shared/src/modules/user-routes/libs/types/user-route-delete-parameters-request.type.ts
  packages/shared/src/modules/user-routes/libs/types/user-route-patch-request-dto.type.ts
  packages/shared/src/modules/user-routes/user-routes.ts
  packages/shared/src/modules/user-routes/validation-schemas/user-route-delete.validation-schema.ts
  packages/shared/src/modules/user-routes/validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend

#572 fix(frontend): swap poi coordinates to correctly display location ss-571
  apps/frontend/src/pages/points-of-interest-details/points-of-interest-details.tsx
Labels: frontend

#558 feat(frontend): user route navigate ss-501
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.ts
  apps/backend/src/modules/user-routes/libs/types/type.ts
  apps/backend/src/modules/user-routes/libs/types/user-route.filter.type.ts
  apps/backend/src/modules/user-routes/user-route.controller.test.ts
  apps/backend/src/modules/user-routes/user-route.controller.ts
  apps/backend/src/modules/user-routes/user-route.repository.test.ts
  apps/backend/src/modules/user-routes/user-route.repository.ts
  apps/backend/src/modules/user-routes/user-route.service.test.ts
  apps/backend/src/modules/user-routes/user-route.service.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/map-provider/map-provider.tsx
  apps/frontend/src/libs/components/map-provider/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/modules/map-client/libs/constants/zoom-level.constant.ts
  apps/frontend/src/libs/modules/storage/libs/enums/storage-key.enum.ts
  apps/frontend/src/libs/modules/store/libs/types/extra-arguments.type.ts
  apps/frontend/src/libs/modules/store/libs/types/root-reducer.type.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/points-of-interest/points-of-interest-api.ts
  apps/frontend/src/modules/user-routes/libs/constants/constants.ts
  apps/frontend/src/modules/user-routes/libs/constants/location-tracking-config.constant.ts
  apps/frontend/src/modules/user-routes/libs/enums/enums.ts
  apps/frontend/src/modules/user-routes/libs/enums/tracking-exeption-message.enum.ts
  apps/frontend/src/modules/user-routes/libs/types/types.ts
  apps/frontend/src/modules/user-routes/slices/actions.ts
  apps/frontend/src/modules/user-routes/slices/tracking-actions.ts
  apps/frontend/src/modules/user-routes/slices/user-route-details.slice.ts
  apps/frontend/src/modules/user-routes/slices/user-routes.slice.ts
  apps/frontend/src/modules/user-routes/slices/user-routes.ts
  apps/frontend/src/modules/user-routes/user-route-api.ts
  apps/frontend/src/modules/user-routes/user-routes-api.ts
  apps/frontend/src/modules/user-routes/user-routes.ts
  apps/frontend/src/pages/route-details/route-details.tsx
  apps/frontend/src/pages/route-details/styles.module.css
  apps/frontend/src/pages/user-route-details/libs/hooks/hooks.ts
  apps/frontend/src/pages/user-route-details/libs/hooks/use-user-route-details-handler.hook.ts
  apps/frontend/src/pages/user-route-details/libs/hooks/use-user-route-details-navigation.hook.ts
  apps/frontend/src/pages/user-route-details/libs/hooks/use-user-route-details-state.hook.ts
  apps/frontend/src/pages/user-route-details/styles.module.css
  apps/frontend/src/pages/user-route-details/user-route-details.tsx
  packages/shared/src/libs/enums/coordinates-validation-rule.enum.ts
  packages/shared/src/modules/points-of-interest/libs/types/points-of-interest-get-all-query.type.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/points-of-interest-query.validation-schema.ts
  packages/shared/src/modules/user-routes/libs/enums/user-route-api-path.enum.ts
  packages/shared/src/modules/user-routes/validation-schemas/user-route-query.validation-schema.ts
Labels: shared, backend, frontend

#564 test(backend): add test strategy ss-326
  docs/test-strategy.md
Labels: docs

#561 feat(frontend): add get directions to the route button ss-509
  apps/backend/src/modules/reviews/review.service.test.ts
  apps/backend/src/modules/routes/route.controller.test.ts
  apps/backend/src/modules/routes/route.entity.test.ts
  apps/backend/src/modules/routes/route.entity.ts
  apps/backend/src/modules/routes/route.model.ts
  apps/backend/src/modules/routes/route.repository.test.ts
  apps/backend/src/modules/routes/route.repository.ts
  apps/backend/src/modules/routes/route.service.test.ts
  apps/frontend/src/assets/images/icons/location.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/route-details/libs/helpers/get-google-maps-point-url.helper.ts
  apps/frontend/src/pages/route-details/libs/helpers/helpers.ts
  apps/frontend/src/pages/route-details/route-details.tsx
  packages/shared/src/modules/routes/libs/types/route-get-all-item-response-dto.type.ts
  packages/shared/src/modules/routes/libs/types/route-get-by-id-response-dto.type.ts
Labels: shared, backend, frontend

#578 feat(frontend): add constructed route to the map ss-574
  apps/frontend/src/pages/route-details/route-details.tsx
Labels: frontend

#584 feat(frontend/shared): add small ui adjustments and improvements ss-1
  apps/backend/src/libs/modules/plugins/auth/auth.plugin.ts
  apps/frontend/src/assets/images/icons/bell.svg
  apps/frontend/src/assets/images/icons/bookmark-off.svg
  apps/frontend/src/assets/images/icons/bookmark.svg
  apps/frontend/src/assets/images/icons/check.svg
  apps/frontend/src/libs/components/avatar/avatar.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/checkbox/checkbox.tsx
  apps/frontend/src/libs/components/checkbox/styles.module.css
  apps/frontend/src/libs/components/create-route-form/create-route-form.tsx
  apps/frontend/src/libs/components/create-route-form/styles.module.css
  apps/frontend/src/libs/components/feature-gallery/feature-gallery.tsx
  apps/frontend/src/libs/components/feature-gallery/styles.module.css
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/libs/components/notifications-popover/notifications-popover.tsx
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/libs/components/notifications-popover/styles.module.css
  apps/frontend/src/libs/components/header/libs/components/authenticated-header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/map-location-field/styles.module.css
  apps/frontend/src/libs/components/review-card/styles.module.css
  apps/frontend/src/libs/components/tab-container/styles.module.css
  apps/frontend/src/libs/components/table/libs/components/table-body/styles.module.css
  apps/frontend/src/libs/components/table/libs/components/table-body/table-body.tsx
  apps/frontend/src/libs/components/textarea/styles.module.css
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/libs/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/construct-route/libs/components/side-panel/side-panel.tsx
  apps/frontend/src/pages/construct-route/libs/components/side-panel/styles.module.css
  apps/frontend/src/pages/manage-categories/manage-categories.tsx
  apps/frontend/src/pages/manage-categories/styles.module.css
  apps/frontend/src/pages/manage-routes/libs/components/action-cell/styles.module.css
  apps/frontend/src/pages/manage-routes/libs/components/routes-table/routes-table.tsx
  apps/frontend/src/pages/manage-routes/styles.module.css
  apps/frontend/src/pages/points-of-interest-details/points-of-interest-details.tsx
  apps/frontend/src/pages/points-of-interest-details/styles.module.css
  apps/frontend/src/pages/public-profile/public-profile.tsx
  apps/frontend/src/pages/route-details/libs/components/route-reviews-section/route-reviews-section.tsx
  apps/frontend/src/pages/route-details/libs/components/route-reviews-section/styles.module.css
  apps/frontend/src/pages/route-details/route-details.tsx
  apps/frontend/src/pages/route-details/styles.module.css
  packages/shared/src/modules/routes/libs/enums/route-validation-message.enum.ts
  packages/shared/src/modules/routes/libs/enums/route-validation-rule.enum.ts
  packages/shared/src/modules/routes/libs/validation-schemas/route-create.validation-schema.ts
  packages/shared/src/modules/routes/libs/validation-schemas/route-update.validation-schema.ts
Labels: shared, backend, frontend

#592 feat(frontend): redirect to user public profile on avatar and name click in review ss-582
  apps/frontend/src/libs/components/review-card/review-card.tsx
  apps/frontend/src/libs/components/review-card/styles.module.css
Labels: frontend

#591 feat(frontend): add ability search routes on explore page and infinity scroll ss-510
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-infinite-scroll/use-infinite-scroll.hook.ts
  apps/frontend/src/libs/hooks/use-infinite-scroll/use-infinite-scroll.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/explore/explore.ts
  apps/frontend/src/modules/explore/libs/types/types.ts
  apps/frontend/src/modules/explore/slices/actions.ts
  apps/frontend/src/modules/explore/slices/explore.slice.ts
  apps/frontend/src/modules/explore/slices/explore.ts
  apps/frontend/src/modules/routes/routes-api.ts
  apps/frontend/src/modules/routes/slices/actions.ts
  apps/frontend/src/pages/explore/explore.tsx
  apps/frontend/src/pages/explore/libs/components/routes-panel/routes-panel.tsx
  apps/frontend/src/pages/explore/libs/components/routes-panel/styles.module.css
  packages/shared/src/modules/routes/libs/enums/route-validation-message.enum.ts
  packages/shared/src/modules/routes/libs/enums/route-validation-rule.enum.ts
  packages/shared/src/modules/routes/libs/validation-schemas/route-search-query.validation-schema.ts
Labels: shared, backend, frontend

#593 feat(frontend/backend/shared): display activities and reviews on user public profile ss-545
  apps/backend/src/modules/user-routes/libs/types/type.ts
  apps/backend/src/modules/user-routes/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/user-routes/user-route.controller.test.ts
  apps/backend/src/modules/user-routes/user-route.controller.ts
  apps/backend/src/modules/user-routes/user-route.entity.test.ts
  apps/backend/src/modules/user-routes/user-route.entity.ts
  apps/backend/src/modules/user-routes/user-route.model.ts
  apps/backend/src/modules/user-routes/user-route.repository.test.ts
  apps/backend/src/modules/user-routes/user-route.repository.ts
  apps/backend/src/modules/user-routes/user-route.service.test.ts
  apps/backend/src/modules/user-routes/user-route.service.ts
  apps/frontend/src/libs/components/activity/activity.tsx
  apps/frontend/src/libs/components/activity/styles.module.css
  apps/frontend/src/libs/helpers/get-formatted-length-string.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/modules/user-routes/slices/actions.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/dashboard/libs/components/user-history.tsx
  apps/frontend/src/pages/public-profile/public-profile.tsx
  apps/frontend/src/pages/public-profile/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/user-routes/libs/types/user-route-query-get-all-request-dto.type.ts
  packages/shared/src/modules/user-routes/libs/types/user-route-response-dto.type.ts
  packages/shared/src/modules/user-routes/user-routes.ts
  packages/shared/src/modules/user-routes/validation-schemas/user-route-get-all.validation-schema.ts
  packages/shared/src/modules/user-routes/validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend

#603 feat(frontend): unify ui elements and remove unnecessary components ss-1
  apps/frontend/src/libs/components/carousel/carousel.tsx
  apps/frontend/src/libs/components/carousel/libs/constants/carausel-config.constant.ts
  apps/frontend/src/libs/components/carousel/libs/constants/constants.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/hooks.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-momentum.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-mouse-leave.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-reference.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-wheel-event.hook.ts
  apps/frontend/src/libs/components/carousel/libs/types/carousel-reference.type.ts
  apps/frontend/src/libs/components/carousel/libs/types/types.ts
  apps/frontend/src/libs/components/carousel/style.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/tab-container/styles.module.css
  apps/frontend/src/libs/components/table/libs/components/table-body/styles.module.css
  apps/frontend/src/libs/components/table/libs/components/table-body/table-body.tsx
  apps/frontend/src/pages/dashboard/dashboard.tsx
  apps/frontend/src/pages/dashboard/libs/components/card/dashboard-route-card.tsx
  apps/frontend/src/pages/dashboard/libs/components/card/styles.module.css
  apps/frontend/src/pages/dashboard/libs/components/tabs/saved-routes/saved-routes.tsx
  apps/frontend/src/pages/dashboard/libs/components/tabs/saved-routes/styles.module.css
  apps/frontend/src/pages/dashboard/libs/components/tabs/user-history/styles.module.css
  apps/frontend/src/pages/dashboard/libs/components/tabs/user-history/user-history.tsx
  apps/frontend/src/pages/dashboard/styles.module.css
  apps/frontend/src/pages/landing/landing.tsx
  apps/frontend/src/pages/profile/styles.module.css
Labels: frontend

#609 fix(backend): fix pois order ss-605
  apps/backend/src/modules/notifications/notification.repository.ts
  apps/backend/src/modules/routes/route.repository.ts
  apps/backend/src/modules/user-routes/user-route.repository.ts
Labels: backend

#616 fix(frontend): improve history page responsiveness ss-1
  apps/frontend/src/libs/components/activity/activity.tsx
  apps/frontend/src/libs/components/app-layout/styles.module.css
  apps/frontend/src/libs/components/sidebar/libs/components/sidebar-item/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/pages/dashboard/libs/components/card/styles.module.css
  apps/frontend/src/pages/dashboard/libs/components/tabs/saved-routes/styles.module.css
  apps/frontend/src/pages/dashboard/libs/components/tabs/user-history/styles.module.css
Labels: frontend

#619 fix(frontend): handle-value-set for poi after entering edit mode ss-550
  apps/frontend/src/pages/points-of-interest-details/points-of-interest-details.tsx
Labels: frontend

#614 fix(frontend): fix bug that page limit doesnt work for less than default vaule ss-576
  apps/frontend/src/libs/components/pagination/pagination.tsx
  apps/frontend/src/libs/components/table/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
Labels: frontend

#636 fix(frontend): hard-reset categories ss-621
  apps/frontend/src/pages/route-details/route-details.tsx
Labels: frontend

#638 fix(frontend): route cards not displayed corectly in pwa ss-624
  apps/frontend/src/libs/components/route-card/styles.module.css
  apps/frontend/src/pages/explore/libs/components/routes-panel/styles.module.css
Labels: frontend

#647 fix(frontend): fit to coordinates check ss-646
  apps/backend/src/modules/routes/route.repository.ts
Labels: backend, frontend
