Repository BinaryStudioAcademy/bsa-2025-smartscapes, pull requests merged in 2025-07, with the labels that each got.

#6 ci(root): add necessary permissions for cd action ss-1
  .github/workflows/cd.yml
  dangerfile.ts
Labels: root, workflows

#41 feat(backend/shared): signup flow ss-16
  .ls-lint.yml
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/db/migrations/20250722102254_add_first_name_last_name_to_users.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/encryption/libs/base-encription.module.ts
  apps/backend/src/libs/modules/encryption/libs/encription.ts
  apps/backend/src/libs/modules/encryption/libs/types/encription-data-response.type.ts
  apps/backend/src/libs/modules/encryption/libs/types/encription.type.ts
  apps/backend/src/libs/modules/encryption/libs/types/types.ts
  apps/backend/src/modules/auth/auth.controller.test.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.test.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/libs/exceptions/exceptions.ts
  apps/backend/src/modules/users/libs/exceptions/user.exceptions.ts
  apps/backend/src/modules/users/user.controller.test.ts
  apps/backend/src/modules/users/user.entity.test.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.test.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.test.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/libs/constants/default-sign-up-payload.constant.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/user-exception-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-request-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-response-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/users.ts
Labels: root, workflows, shared, backend, frontend, env

#30 feat(frontend): create reusable loader component ss-19
  apps/frontend/package.json
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/spinner.svg
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/vite-env.d.ts
  apps/frontend/vite.config.ts
  package-lock.json
Labels: root, frontend

#40 feat(frontend): add common button ss-29
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/fonts/inter/inter-regular.ttf
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
Labels: frontend

#44 feat(frontend): add common input component ss-28
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  apps/frontend/src/assets/images/error.svg
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/helpers/combine-class-names.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  package-lock.json
Labels: root, frontend

#43 feat(frontend): add error handling middleware with toast notifications ss-20
  apps/frontend/package.json
  apps/frontend/src/assets/fonts/inter/inter-regular.ttf
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/toast-container/styles.module.css
  apps/frontend/src/libs/components/toast-container/toast-container.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/store/libs/types/extra-arguments.type.ts
  apps/frontend/src/libs/modules/store/middlewares/handle-error.middleware.ts
  apps/frontend/src/libs/modules/store/middlewares/middlewares.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/modules/toast-notifier/toast-notifier.module.ts
  apps/frontend/src/libs/modules/toast-notifier/toast-notifier.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/common-exception-message.enum.ts
  packages/shared/src/libs/enums/enums.ts
Labels: root, shared, frontend

#54 feat(backend): generate authorization token ss-18
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/token/base-token.module.test.ts
  apps/backend/src/libs/modules/token/base-token.module.ts
  apps/backend/src/libs/modules/token/libs/types/token-payload.type.ts
  apps/backend/src/libs/modules/token/libs/types/token.type.ts
  apps/backend/src/libs/modules/token/libs/types/types.ts
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/modules/auth/auth.controller.test.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.test.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/users/users.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-response-dto.type.ts
  packages/shared/src/modules/users/users.ts
Labels: root, shared, backend, env

#86 feat(backend): eliminate unnecessary payload nesting when creating JWT token ss-85
  apps/backend/src/libs/modules/token/base-token.module.test.ts
  apps/backend/src/libs/modules/token/base-token.module.ts
Labels: backend

#45 feat(frontend): create sidebar component ss-22
  apps/frontend/src/assets/images/icons/analytics.svg
  apps/frontend/src/assets/images/icons/dashboard.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/libs/maps/maps.ts
  apps/frontend/src/libs/components/sidebar/libs/components/components.ts
  apps/frontend/src/libs/components/sidebar/libs/components/sidebar-item/sidebar-item.tsx
  apps/frontend/src/libs/components/sidebar/libs/components/sidebar-item/styles.module.css
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/navigation-item.type.ts
  apps/frontend/src/libs/types/types.ts
Labels: root, frontend

#55 feat(backend): add groups and permissions tables and seeds ss-49
  apps/backend/src/db/migrations/20250723031408_add_groups_and_permissions_tables.ts
  apps/backend/src/db/migrations/20250723130000_insert_groups_and_permissions_data.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
Labels: root, backend

#103 feat(root): update linter rules ss-15
  eslint.config.ts
Labels: root

#47 feat(frontend/shared): add sign up flow to the frontend ss-15
  apps/backend/src/modules/auth/auth.service.test.ts
  apps/backend/src/modules/users/user.service.test.ts
  apps/frontend/src/assets/images/auth-page-background.jpg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/app/styles.module.css
  apps/frontend/src/libs/components/link/styles.module.css
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/libs/constants/default-sign-up-payload.constant.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
  package-lock.json
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-request-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: root, shared, backend, frontend

#74 feat(frontend): landing and application separation ss-53
  apps/frontend/public/assets/fonts/inter/inter-bold.woff2
  apps/frontend/public/assets/images/landing-cover.jpg
  apps/frontend/src/assets/css/fonts.css
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/landing/landing.tsx
  apps/frontend/src/pages/landing/libs/components/hero-section/hero-section.tsx
  apps/frontend/src/pages/landing/libs/components/hero-section/styles.module.css
  apps/frontend/src/pages/landing/styles.module.css
Labels: root, frontend

#59 feat(backend/shared): add POIs module ss-52
  .ls-lint.yml
  apps/backend/src/db/migrations/20250722133759_add_poi_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/types/service.type.ts
  apps/backend/src/modules/points-of-interest/libs/enums/enums.ts
  apps/backend/src/modules/points-of-interest/libs/enums/point-of-interest-exception-message.enum.ts
  apps/backend/src/modules/points-of-interest/libs/exceptions/exceptions.ts
  apps/backend/src/modules/points-of-interest/libs/exceptions/point-of-interest.exception.ts
  apps/backend/src/modules/points-of-interest/libs/types/type.ts
  apps/backend/src/modules/points-of-interest/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.entity.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.entity.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.model.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.repository.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.service.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/libs/modules/http/libs/types/http-method.type.ts
  packages/shared/src/modules/points-of-interest/libs/enums/enums.ts
  packages/shared/src/modules/points-of-interest/libs/enums/points-of-interest-validation-message.enum.ts
  packages/shared/src/modules/points-of-interest/libs/enums/points-of-interest-validation-rule.ts
  packages/shared/src/modules/points-of-interest/libs/types/points-of-interest-request-dto.type.ts
  packages/shared/src/modules/points-of-interest/libs/types/points-of-interest-response-dto.type.ts
  packages/shared/src/modules/points-of-interest/libs/types/types.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/point-of-interest-create.validation-schema.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/point-of-interest-update.validation-schema.ts
  packages/shared/src/modules/points-of-interest/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/points-of-interest/points-of-interest.ts
  readme.md
Labels: root, shared, backend

#57 feat(frontend/shared): add sign-in flow to the frontend ss-14
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/libs/types/types.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/libs/components/sign-in-form/libs/constants/constants.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/libs/constants/default-sign-in-payload.constant.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-in-form/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-sign-in-request-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-in-response-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: root, shared, backend, frontend

#117 fix(frontend): fix routing ss-115
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/landing/landing.tsx
Labels: frontend

#108 fix(frontend): button line-height ss-105
  apps/frontend/src/libs/components/button/styles.module.css
Labels: frontend

#118 fix(frontend): change cursor to pointer ss-109
  apps/frontend/src/libs/components/button/styles.module.css
Labels: frontend

#82 feat(backend/shared): add protected routing ss-23
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/modules/controller/base-controller.module.test.ts
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/plugins/auth/auth.exception.ts
  apps/backend/src/libs/modules/plugins/auth/auth.plugin.ts
  apps/backend/src/libs/modules/plugins/plugins.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/constants/constants.ts
  apps/backend/src/libs/modules/server-application/libs/types/types.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/types/declarations.d.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/auth/auth.controller.test.ts
  apps/backend/src/modules/auth/auth.service.test.ts
  apps/backend/src/modules/points-of-interest/points-of-interest.controller.test.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/auth/auth.ts
  packages/shared/src/modules/auth/libs/enums/auth-exception-message.enum.ts
  packages/shared/src/modules/auth/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
  packages/shared/src/modules/users/users.ts
Labels: root, shared, backend, frontend

#67 feat(backend/shared): add sign in flow to the backend ss-17
  apps/backend/src/libs/modules/encryption/libs/base-encryption.module.ts
  apps/backend/src/libs/modules/encryption/libs/encryption.ts
  apps/backend/src/libs/modules/encryption/libs/types/encryption-data-response.type.ts
  apps/backend/src/libs/modules/encryption/libs/types/encryption.type.ts
  apps/backend/src/libs/modules/encryption/libs/types/types.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.test.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/auth/libs/enums/authorization-exception-message.enum.ts
  apps/backend/src/modules/auth/libs/enums/enums.ts
  apps/backend/src/modules/auth/libs/exceptions/auth.exception.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/types/user-password-details.type.ts
  apps/backend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/users.ts
Labels: shared, backend

#93 feat(frontend): add carousel component ss-87
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/carousel/carousel.tsx
  apps/frontend/src/libs/components/carousel/libs/constants/carausel-animation.constant.ts
  apps/frontend/src/libs/components/carousel/libs/constants/carausel-config.constant.ts
  apps/frontend/src/libs/components/carousel/libs/constants/constants.ts
  apps/frontend/src/libs/components/carousel/libs/helpers/get-carousel-parameters.helper.ts
  apps/frontend/src/libs/components/carousel/libs/helpers/helpers.ts
  apps/frontend/src/libs/components/carousel/libs/helpers/snap-to-nearest-item.helper.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/hooks.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-boundaries.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-events.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-momentum.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-mouse-events.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-reference.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-styles.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel-wheel-event.hook.ts
  apps/frontend/src/libs/components/carousel/libs/hooks/use-carousel.state.hook.ts
  apps/frontend/src/libs/components/carousel/libs/types/carausel-animation.type.ts
  apps/frontend/src/libs/components/carousel/libs/types/carousel-callbacks.type.ts
  apps/frontend/src/libs/components/carousel/libs/types/carousel-direction.type.ts
  apps/frontend/src/libs/components/carousel/libs/types/carousel-parameters.type.ts
  apps/frontend/src/libs/components/carousel/libs/types/carousel-reference.type.ts
  apps/frontend/src/libs/components/carousel/libs/types/carousel-state.type.ts
  apps/frontend/src/libs/components/carousel/libs/types/types.ts
  apps/frontend/src/libs/components/carousel/mock-images.ts
  apps/frontend/src/libs/components/carousel/style.module.css
Labels: frontend

#90 feat(backend/shared): add reviews module ss-75
  apps/backend/src/db/migrations/20250727173639_add_reviews_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/reviews/libs/types/types.ts
  apps/backend/src/modules/reviews/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/reviews/review.controller.test.ts
  apps/backend/src/modules/reviews/review.controller.ts
  apps/backend/src/modules/reviews/review.entity.test.ts
  apps/backend/src/modules/reviews/review.entity.ts
  apps/backend/src/modules/reviews/review.model.ts
  apps/backend/src/modules/reviews/review.repository.test.ts
  apps/backend/src/modules/reviews/review.repository.ts
  apps/backend/src/modules/reviews/review.service.test.ts
  apps/backend/src/modules/reviews/review.service.ts
  apps/backend/src/modules/reviews/reviews.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/reviews/libs/enums/enums.ts
  packages/shared/src/modules/reviews/libs/enums/review-validation-message.enum.ts
  packages/shared/src/modules/reviews/libs/enums/review-validation-rule.enum.ts
  packages/shared/src/modules/reviews/libs/types/review-create-payload.type.ts
  packages/shared/src/modules/reviews/libs/types/review-get-by-id-response-dto.type.ts
  packages/shared/src/modules/reviews/libs/types/review-request-dto.type.ts
  packages/shared/src/modules/reviews/libs/types/types.ts
  packages/shared/src/modules/reviews/libs/validation-schemas/review-create.validation.schema.ts
  packages/shared/src/modules/reviews/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/reviews/reviews.ts
  readme.md
Labels: root, shared, backend

#140 fix(backend): change error message for user with same email ss-134
  apps/backend/src/modules/users/user.service.ts
  packages/shared/src/modules/users/libs/enums/user-exception-message.enum.ts
Labels: shared, backend

#142 fix(backend/shared): revert "feat(backend/shared): add reviews module ss-75 (#90)" ss-141
  apps/backend/src/db/migrations/20250727173639_add_reviews_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/reviews/libs/types/types.ts
  apps/backend/src/modules/reviews/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/reviews/review.controller.test.ts
  apps/backend/src/modules/reviews/review.controller.ts
  apps/backend/src/modules/reviews/review.entity.test.ts
  apps/backend/src/modules/reviews/review.entity.ts
  apps/backend/src/modules/reviews/review.model.ts
  apps/backend/src/modules/reviews/review.repository.test.ts
  apps/backend/src/modules/reviews/review.repository.ts
  apps/backend/src/modules/reviews/review.service.test.ts
  apps/backend/src/modules/reviews/review.service.ts
  apps/backend/src/modules/reviews/reviews.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/reviews/libs/enums/enums.ts
  packages/shared/src/modules/reviews/libs/enums/review-validation-message.enum.ts
  packages/shared/src/modules/reviews/libs/enums/review-validation-rule.enum.ts
  packages/shared/src/modules/reviews/libs/types/review-create-payload.type.ts
  packages/shared/src/modules/reviews/libs/types/review-get-by-id-response-dto.type.ts
  packages/shared/src/modules/reviews/libs/types/review-request-dto.type.ts
  packages/shared/src/modules/reviews/libs/types/types.ts
  packages/shared/src/modules/reviews/libs/validation-schemas/review-create.validation.schema.ts
  packages/shared/src/modules/reviews/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/reviews/reviews.ts
  readme.md
Labels: root, shared, backend

#122 feat(backend): add user auth flow ss-26
  apps/backend/src/libs/modules/plugins/auth/auth-plugin.test.ts
  apps/backend/src/libs/modules/plugins/auth/auth.plugin.ts
  apps/backend/src/libs/modules/plugins/auth/libs/helpers/check-is-white-route.helper.ts
  apps/backend/src/libs/modules/plugins/auth/libs/helpers/helpers.ts
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/constants/constants.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-api-constructor-parameters.type.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-api.type.ts
  apps/backend/src/libs/modules/server-application/libs/types/types.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/auth/auth.controller.test.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.test.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/libs/exceptions/exceptions.ts
  apps/backend/src/modules/auth/libs/exceptions/unauthorized.exception.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-in-response-dto.type.ts
Labels: root, shared, backend, frontend

#150 fix(backend): fix white listing rules ss-148
  apps/backend/src/libs/modules/plugins/auth/auth-plugin.test.ts
  apps/backend/src/libs/modules/plugins/auth/libs/helpers/check-is-white-route.helper.ts
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
  eslint.config.ts
Labels: root, backend

#138 fix(frontend): fix extra space ss-127
  apps/frontend/src/pages/landing/libs/components/hero-section/hero-section.tsx
  apps/frontend/src/pages/landing/libs/components/hero-section/styles.module.css
  apps/frontend/src/pages/landing/styles.module.css
Labels: frontend

#137 fix(shared): add Latin letters validation for user names ss-129
  packages/shared/src/libs/helpers/check-is-latin-letter/check-is-latin-letter.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

#156 fix(frontend): fix landing page ui issues ss-152
  apps/frontend/src/pages/landing/libs/components/hero-section/styles.module.css
Labels: frontend

#167 fix(frontend): popular routes typo ss-165
  apps/frontend/src/pages/landing/libs/components/popular-section/popular-section.tsx
Labels: frontend
